p{
    margin: 10px 0 !important;
}
.login-container{
    width:400px;
    margin-top:50px;
    text-align: center;
}
.fa-google::before{
    padding-right: 10px;
}
.fa-small{
    font-size:16px !important;
}
.btn-float{
    float:left;
    margin-right: 15px;
}
.img-small{
    width:180px;
}